.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
input {
  padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    display: block;
    width: 50%;
}

.button {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  display: block;
  width: 50%;
  cursor: pointer;
  background: #307FCD;

}
.button:focus {
  outline: 1px solid #307FCD;
}
.myform{
  margin: 10% 15%;
}
.username{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 16px;
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.search {
  margin-right: auto;
  margin-left: auto;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  display: block;
  width: 15%;
  cursor: pointer;
  background: #307FCD;
}
.search:focus {
  outline: 1px solid #307FCD;
}
.searchcss {
  display: flex;
  justify-content: space-evenly;
}
.columnfirst{
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
    box-sizing: border-box;
    width: 500px;
    /* height: 535px; */
    margin:30px 30px 0;
    background-image:linear-gradient(0deg, rgb(140, 65, 211) 0px, rgb(116, 74, 145))

}
.columnsecond{
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
    box-sizing: border-box;
    width: auto;
    /* height: 535px; */
      margin:30px 30px 0;
      background-image:linear-gradient(0deg, rgb(140, 65, 211) 0px, rgb(116, 74, 145))
}


.attributes1{
  background-image:linear-gradient(0deg,  rgb(58, 211, 185) 0px,rgb(121, 163, 163) );

  margin:50px ;
  padding:15px;
  width:500px; 
  border-radius:5px;
}

.attributes2{
  background-image:linear-gradient(0deg,  rgb(211, 55, 55) 0px,rgb(228, 46, 13) );

  margin:50px ;
  padding:15px;
  width:500px; 
  border-radius:5px;
}
.attributes3{
  background-image:linear-gradient(0deg,  rgb(25, 58, 150) 0px,rgb(156, 142, 240) );

  margin:50px ;
  padding:15px;
  width:500px; 
  border-radius:5px;
}
.attributes4{
  background-image:linear-gradient(0deg,  rgb(209, 137, 89) 0px,rgba(218, 120, 8, 0.884) );

margin:50px ;
  padding:15px;
  width:500px; 
  border-radius:5px;
}
.attributes5{
  background-image:linear-gradient(0deg,  rgb(69, 204, 28) 0px,rgb(127, 194, 121) );

  margin:50px ;
  padding:15px;
  width:500px; 
  border-radius:5px;
}
.imageperson {
  left: 0px;
  position: relative;
  
}
#output{
position: absolute;
height: 400px;
width: 419px;
margin: 14% 8%;
background-color: aliceblue;
border:1px solid black;

/* background-image: url("https://cdn.pixabay.com/photo/2013/07/13/12/07/avatar-159236_640.png"); */

}

